body {
  font-family: sans-serif;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #F8F6F8;
  color: #979597;
  align-items: center;
  font-weight: lighter;
}

h3 {
  margin-left: 30px;
}

button, select {
  margin-left: 55px;
  text-decoration: none;
  border: none;
  background-color: #F8F6F8;
  font-size: 15px;
  color: #979597;
}

button span {
  font-weight: bold;
  font-size: 20px;
}

.s {
  margin-left: 55px;
  height: 25px;
  width: 150px;
}

#posts {
  background-color: #F8F6F8;
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: auto;
  border: 1px solid #979597;
  border-radius: 2px;
  padding: 10px;
  padding-bottom: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  /*order: 3;*/
}

#title, #author, #image, #description {
  margin-bottom: 15px;
  height: 25px;
}

.sub {
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  border: none;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.t {
  font-size: 20px;
  margin-left: 10px;
  color: #696666;
}

.w {
  display: flex;
  flex-direction: column;
  /*order: 1;*/
  max-width: 80%;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*order: 2;*/
  margin-left: 10px;
}

.time {
  color: #979597;
}

.a {
  align-self: flex-end;
  color: #979597;
  margin-top: 0;
}

.d {
  color: #979597;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.comments {
  /*order: 4;*/
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.votingButton {
  margin: 0;
}

#comm, #addComm {
  margin: 0;
}

.com {
  text-decoration: none;
  border: none;
  font-size: 15px;
  color: #979597;
  height: 25px;
  width: 150px;
}

#authorC, #text {
  height: 25px;
  width: 150px;
  margin: 10px;
}

#form2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
