<!DOCTYPE html>
<html ng-app='april'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone App</title>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js'>
    </script>
    <script src="http://code.angularjs.org/1.1.5/angular.js"></script>
    <script type="text/javascript" src='index.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/controllers.js" type="text/javascript"></script>
    <script src="./js/directives.js" type="text/javascript"></script>
    <script src="./js/filters.js" type="text/javascript"></script>
    <script src="./js/services.js" type="text/javascript"></script>
  </head>
  <body ng-controller='MyController'>

    <div class="head">
      <h3><i class="fa fa-reddit-alien"></i>Reddit Clone</h3>
      <p>
        <button ng-click='toggleForm()'><span>&#43</span> Submit Post</button>
      </p>
      <p>
        <input type="search" ng-model='searchable.$' placeholder="Search" class='s'>
      </p>
        <select ng-model='orderProp'>
          <option value='title'>
              Sort By Title
          </option>
          <option value='date'>
              Sort By Date
          </option>
          <option value='votes'>
              Sort By Vote
          </option>
        </select>
    </div>

    <div class='dir'>
      <h3>To submit a post, click the 'Submit Post' button above</h3>
    </div>

    <div ng-show='showForm'>
      <form name='form1' ng-submit='addPost()'>
        <label for="title">Title</label>
          <input type="text" id='title' ng-model='title' placeholder="Title" required>
        <label for="author">Author</label>
          <input type="text" id='author' ng-model='author' placeholder="Author" required>
        <label for="image">Image URL</label>
          <input type="text" id='image' ng-model='image' placeholder="Image URL" required>
        <label for="description">Description</label>
          <input type="text" id='description' ng-model='description' placeholder="Description" required>
        <input class='sub' type="submit" value="Submit Post">
      </form>
    </div>

    <div class="example-animate-container">
      <div ng-animate="'animate'" id='posts' ng-repeat='post in posts | orderBy:orderProp:sortReverse | filter:searchable'>
        <img ng-src="{{post.image}}"/>
        <div class="w">
          <div class="votes">
            <p class='t'>
              {{post.title}} &#124
            </p>
            <button class="votingButton" ng-click="upVote(post)">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button class="votingButton" ng-click="downVote(post)">
              <i class="fa fa-arrow-down"></i>
            </button>
            <div class="badge badge-inverse">
              <div ng-class='changeColor(post)'>{{post.votes}}</div>
            </div>
          </div>
          <p class='a'>
            By {{post.author}}
          </p>
          <p class='d'>
            {{post.description}}
          </p>
          <div class="date">
            <span class='time'>
              <i class="fa fa-calendar"></i> {{post.message.time | amCalendar}}
            </span>
            <p>
              <button id='comm' ng-click='toggleComments(post)'> |  <i class='fa fa-comment'></i> {{buttonValue}} | </button>
            </p>
            <p>
              <button id='addComm' ng-click='toggleCommentForm(post)'><i class='fa fa-pencil'></i>Add Comment</button>
            </p>
          </div>
        </div>

        <div ng-show='showComments'>
          <div ng-repeat='comment in post.comments' class="comments">
            <p>
              {{comment.author}} : {{comment.text}}
            </p>
          </div>
        </div>

        <div ng-show='showNew'>
          <form name='form2' id='form2' ng-submit='addComment(post, author, text)'>
            <label for="authorC">Author</label>
              <input type="text" id="authorC" ng-model="author" placeholder="username" required>
            <label for="text">Text</label>
              <input type="text" id="text" ng-model="text" placeholder="comment text" required>
            <input class='com' type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
